/* Start Tailwind v4 */
@import "tailwindcss";

/* Import PrimeReact */
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

/* Custom CSS kamu berikutnya... */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Konfigurasi Dark Mode selector strategy */
@custom-variant dark (&:where(.dark, .dark *));

/* Setup PrimeReact Styles Dasar */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300;
  }
  /* Style body saat dark mode aktif */
  :root.dark body {
    @apply bg-slate-900 text-slate-50;
  }
}

/* Scrollbar & dark mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #2d3748;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #4a5568;
}
